@import "tailwindcss";

@source "../**/*"; 

@theme {
  --color-primary: #6366f1;
  --color-primary-hover: #4f46e5;
  --color-background: #0a0b0d;
}

@layer base {
  body {
    background-color: var(--color-background);
    color: white;
  }
}

@utility btn-primary {
  padding: 1rem 2rem;
  background-color: var(--color-primary);
  color: white;
  border-radius: 1rem;
  font-weight: 700;
  transition: background-color 0.2s;
  display: inline-block;
  text-align: center;
}